#bio-text span, #bio-text2 span {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px); /* Position effect */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Fade-in on scroll enter */
#bio-text span.fade-in, #bio-text2 span.fade-in {
  opacity: 1;
  transform: translateY(0);
}

/* Fade-out on scroll leave */
#bio-text span.fade-out, #bio-text2 span.fade-out {
  opacity: 0;
  transform: translateY(-20px);
}